header {
    background-image: url("../images/header.jpg");
    background-size : cover;
    height: 568px;
    display:flex;
    justify-content : center;
    align-items: center;
    font-size: 40px;

}
