img{
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.bannerTitle{
    display: inline-block;
    position: relative;
}

body{
    margin: 0px;
}

